<%- include("header.ejs") -%>

    <div class="home">
     <div class="mx-auto"></div>
        <div class="hleft">
            <div class="text">
                <h3>Welcome Back,</h3>
                <h1>Sanjay Appari</h1>
                <p>
                    hellodncm ,mn cd x
                    All Your Dreams Come True
                </p>
                <a href="">
                    My Profile
                </a>
                <a href="">
                    My Products
                </a>
            </div>
        </div>
        <div class="image">
            <img src="/images/farmer-black.png" alt="">
        </div>
        <div class="mx-auto">jelllo</div>
        <div class="hright">
            <h1>Weather Report</h1>
            <img src="/images/suncloud.png" alt="">
            <br>
            <div class="ppp">
                <div class="rl">
                    <i class="fa-sharp fa-solid fa-location-dot" style="font-size: 27px;"></i> <span style="font-size:30px;font-weight: 600;">Visakhapatnam</span> <br>
                    <h2 style="margin-bottom: -2px;">MONDAY</h2>
                    <p>08 April 2023 , 05:12</p>
                    <i class="fa-sharp fa-solid fa-wind"></i> <span>Wind 30kmph</span> <br>
                    <i class="fa-solid fa-droplet"></i> <span>Humidity 30%</span>
                </div>
                <div class="rr">
                    <i class="fa-solid fa-temperature-quarter"></i>
                    <p style="margin-top:-60px;margin-left: 40px;">Minimum temperature</p>
                    <p style="margin-top:-20px;font-size:30px;margin-left: 40px;"><b>30 Degrees</b></p>

                    <i class="fa-solid fa-temperature-quarter"></i>
                    <!-- <i class="fa-solid fa-temperature-sun"></i> -->
                    <!-- <i class="fa-solid fa-temperature-high"></i> -->
                    <p style="margin-top:-60px;margin-left: 40px;">Maximum temperature</p>
                    <p style="margin-top:-20px;font-size:30px;margin-left: 40px;"><b>44 Degrees</b></p>
                </div>
            </div>
        </div>
    </div>


    <div class="msp" id="msp">
        <div class="title">
            <h3>Minimum Support Price</h3>
        </div>
    </div>

    <%- include("partials/footer") -%>