<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer End</title>
    <link rel="stylesheet" href="/css/farmer.css">
    <script src="https://kit.fontawesome.com/d1eb574a3d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body style="background-color: rgb(217, 228, 215);">
    <nav class="navbar navbar-expand-lg" style="position: fixed; top:0;">
        <div class="container">
            <a class="navbar-brand" href="#" style="font-size:20px;"><b>AGRITECH</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a id="google_translate_element" class="translate"></a>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'en',
                            includedLanguages: 'en,hi,bn,te,mr,ta,gu,kn,ml,pa,or,as,ks,ne,ur,es',
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <div class="mx-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/product">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product#msp">MSP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Basic Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools">Tools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">
                            <!-- <i class="fa-solid fa-user"></i> -->
                            <img src="/images/profile-logo.png" alt="" width="25px" height="25px">
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="notifications" id="notify">


        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>
        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-wheat-awn"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>

        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>
        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>
        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-wheat-awn"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>

        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>
        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>
        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-wheat-awn"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>

        <div class="rq-card">
            <div class="i-type">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </div>
            <div class="i-text">
                <p>Lorem ipsunisi sequi illum doloremque repellat dignissimos laborum ab.</p>
            </div>
            <div class="i-logic">
                <a href=""><i class="fa-solid fa-check"></i></a> <br>
                <a href=""><i class="fa-sharp fa-solid fa-xmark" style="color:red"></i></a>
            </div>
        </div>
        <hr>

    </div>


    <script>
        function notify() {
            var x = document.getElementById("notify");
            // if (x.style.display === "none") {
            // if(x.style.display === 'block'){
            //   x.style.display='none'
            // }
            // else{
            //   x.style.display="block"
            // }
            x.classList.toggle("chupinchu")
                // }
        }
    </script>