<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agritech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/d1eb574a3d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

</head>

<body>
    <div class="landing-page">
        <div class="home">
            <video autoplay loop muted plays-inline>
        <source src="/images/home-bg.mp4">
      </video>
            <div class="content">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand" style="color: white;" href="#">AGRITECH</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <div class="mx-auto"></div>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#about">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contactus">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="main-home">
                    <div class="home-buttons">
                        <div class="qoute">
                            <h1>Smart Irrigation In A
                                <h1>
                                    <h1>Simple Way</h1>
                        </div>
                        <div class="buttons">
                            <a href="/signup">
                                <button class="btn">SignUp</button>
                            </a>
                            <a href="/login">
                                <button class="btn">LogIn</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="services">
            <div class="lines">
                <h1 style="color:rgb(24, 24, 24)">Services</h1>
                <div class="underline"></div>
                <p>
                    Our main is to provide Techological support to Farmers. We provide services like WEATHER FORECAST , DIRECT SELLING , TOOLS HIRING, MINIMUM SUPPOT PPRICE AND ETC.
                </p>
            </div>
            <div class="div-content">
                <div id="carousel" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="background-image: url('/images/weather-report.jpg');">
                            <div class="container">
                                <h2>Weather Forecast</h2>
                                <p>Provides Current Weather Report Of Your Location</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url('/images/selling.jpg');">
                            <div class="container">
                                <h2>Direct Selling</h2>
                                <p>Farmer Can Directly Sell His Product Directly To Customer</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url('/images/msp.jpg');">
                            <div class="container">
                                <h2>Minimum Support Price</h2>
                                <p>Provides Details About MSP Of Each Item</p>
                            </div>
                        </div>
                        <div class="carousel-item" style="background-image: url('/images/crops.jpg');">
                            <div class="container">
                                <h2>Usage Of Crops And Fertilizers </h2>
                                <p>Provides Details Usage of Different Crops & Fertilizers</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
                </div>
            </div>
        </div>
        <div id="about">
            <div class="lines">
                <h1 style="color:rgb(24, 24, 24)">About</h1>
                <div class="underline"></div>
                <br>
                <center>
                    <h3>We Are Committed To Change The Life Of Farmers Through Technology.</h3>
                </center>

            </div>
            <div class="about-content">
                <div class="aleft">
                    <div class="text">
                        <h3>We provide</h3>
                        <p><b>Weather Report :</b> Helps the farmer to know about weather changes. So farmer can able to take decision about the future and able to harvest the particular crop sutiable to the weather conditions.</p>
                        <p><b>Direct Selling :</b>Farmer can able to sell his products to companies or customers without any middle person and slso without any market prices. Farmer and company member will communicate and they will decide about the price
                            rate.
                        </p>
                        <p><b>Tools Hiring :</b>Farmers can able to hire tools from other farmers through our website.Farmers upload details of their tools so that other farmers able to request the tools from fsrmer.</p>
                    </div>
                </div>
                <div class="aright">
                    <img id="i1" src="/images/about-1.jpg" alt="">
                    <img id="i2" src="/images/about-2.jpg" alt="">
                </div>
            </div>
            <div class="reviews">
                <div class="text">
                    <center>
                        <h2>Our Loving Users</h2>
                    </center>
                    <center>
                        <div class="underline" style="width:200px"></div>
                    </center>
                </div>
                <div class="r-cards">
                    <div class="card">
                        <img src="/images/about-1.jpg" alt="">
                        <center><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, repudiandae
                recusandae quaerat suscipit quibusdam corrupti fuga rem numquam reiciendis natus!</span></center>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/about-1.jpg" alt="">
                        <center><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, repudiandae
                recusandae quaerat suscipit quibusdam corrupti fuga rem numquam reiciendis natus!</span></center>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/images/about-1.jpg" alt="">
                        <center><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, repudiandae
                recusandae quaerat suscipit quibusdam corrupti fuga rem numquam reiciendis natus!</span></center>
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                <center>
                    <a href="/reviews">View All</a>
                </center>
            </div>
        </div>
        <!-- <br> -->
        <div id="contactus">
            <div class="lines" style="position: relative; height: 15%;">
                <h1 style="color:rgb(24, 24, 24)">Contact Us</h1>
                <div class="underline"></div>
            </div>
            <div class="cform">
                <div class="lform">
                    <center>
                        <h3 style="color:black">Get In <b>Touch</b> </h3>
                    </center>
                    <center>
                        <div class="underline"></div>
                    </center>
                    <form action="mailto:apparisanjaym6@gmail.com" method="POST" enctype="text/plain">
                        <div class="form-group" style="position: relative; width: 48%;">
                            <label for="exampleInputEmail1">First Name </label>
                            <input type="text" class="form-control" required name="fname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name">
                        </div> <br>
                        <div class="form-group" style="position: relative; width: 48%;">
                            <label for="exampleInputEmail1">Second Name </label>
                            <input type="text" class="form-control" required name="sname" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Second Name">
                        </div> <br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="text" class="form-control" required name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        </div> <br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject</label>
                            <input type="text" class="form-control" name="subject" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Subject">
                        </div><br>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Message</label>
                            <textarea name="" class="form-control" required name="msg" id="" cols="20" rows="5"></textarea>
                        </div>
                        <center><button style="margin-top:10px;background-color: green; color: white;" type="submit" class="btn">Submit</button></center>
                    </form>
                </div>
                <div class="rform">
                    <div class="text">
                        <h3><b>Let's Talk</b></h3>
                        <i class="fa-solid fa-envelope"></i> <span>ouragritech@gmail.com</span> <br>
                        <i class="fa-solid fa-phone-volume"></i> <span>8074963346</span> <br>
                        <i class="fa-sharp fa-solid fa-location-dot"></i> <span> 1-2-11,Visakhapatnam, Andhra Pradesh </span>
                        <br> <br>
                        <h3><b>Social Media Handles</b></h3>
                        <a href="">
                            <i class="fa-brands fa-square-instagram"></i> <span>@agritech_123</span>
                        </a> <br>
                        <a href="">
                            <i class="fa-brands fa-square-whatsapp"></i> <span>8074963346</span>
                        </a> <br>
                        <a href="">
                            <i class="fa-brands fa-facebook"></i> <span>@agritech_fb</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
</body>

</html>