<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleopen.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body >
    <div class="top " style="background-color: #8DAA91;">
        <div class="lap">



            <div class="map">

                <div class="map1">
                    <img src="/images/loam-soil.jpg" alt="">
                </div>
                <div class="map2">
                    <center>
                        <p>LOAM SOIL</p>
                    </center>
                    <b>Loamy soil is ideal for most garden plants because it holds plenty of moisture but also drains well so that sufficient air can reach the roots. Many gardeners complain of their garden soil being compacted and/or poorly drained. Heavy, compacted soil can be rescued by the enduring gardener. It has high water retention capacity thus it retains water for long and also retains the nutrients which is required for plant growth.What is the economic importance of loamy soil?
                        Image result for uses of loam soil
                        Loamy soil – a mixture of sand, silt and clay – provides ideal nutrition for wheat, a grass that has become a staple in most diets around the world.</b>
                </div>
            </div>
            <div class="lap1">

                <div class="lap-head">
                    <center>
                        <p
                            style="font-size:30px;color:green; align-items: center; height: 100px; padding-top: 20px; width: 100%; padding-top: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            Crop suitable for Loamy soil</p>
                    </center>
                </div>
                <div class="cards">

                    <div class="card" style="width: 300px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/Wheat.jpeg" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Wheat Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.4 to 6.5</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                Muriate of potash and potassium sulphate </p>
                            <p class="card-text"><b>Season to cultivate :</b>October and November</p>
                            <p class="card-text"><b> Irrigation system :</b>  Drip and sprinkler </p>
                            <p class="card-text"><b>Water requirement : </b> 350 – 600 mm of water.</p>

                            <p class="card-text"><b>Tools required : </b>Containers and Pots ,
                                Garden Gloves ,
                                Garden Trowel ,
                                Irrigation Equipment ,
                                Pruners or Snippers ,
                                Rain Barrel. </p>
                        </div>
                    </div>
                    <div class="card" style="width:300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/sugarcane.jpg" class="card-img-top" alt="..." style="height:150px;  ">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">SugarCane Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b>4.5–5.5</p>
                            <p class="card-text"><b>Fertilizers : </b>Farmyard Manure</p>
                            <p class="card-text"><b>Season to cultivate :</b>December-February (12 month crop) </p>
                            <p class="card-text"><b> Irrigation system :</b> online or integral type surface drip system</p>
                            <p class="card-text"><b>Water requirement : </b>1500 to 2500 mm 
                                mm water</p>

                            <p class="card-text"><b>Tools required : </b>Sugarcane planter.
                                Tractor Operated Pit Digger for Sugar Cane Planting.
                                Sugarcane Sett Cutter.
                                Sugarcane Detrasher.
                                Sugarcane Crusher.</p>

                        </div>
                    </div>

                    <div class="card" style="width: 300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/cotton.webp" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Cotton crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 6.5</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                N-P-K 20-10-10</p>
                            <p class="card-text"><b>Season to cultivate :</b>we cultivate it as annual.</p>
                            <p class="card-text"><b> Irrigation system :</b> Sprinkler irrigation</p>
                            <p class="card-text"><b>Water requirement : </b> 50-70 cm
                                </p>
                            <p class="card-text"><b>Tools required : </b>
                                Cotton Home.
                                Plough.
                                Harrows.
                                Clod crushers.
                                Levellers.
                                Implements. a. Hand Operated Hoeing. b. Weeding Hook. c. Sprayers.</p>
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>