<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleopen.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="top" style="background-color:#beb9b9;">
        <div class="lap">



            <div class="map">

                <div class="map1">
                    <img src="/images/peat-soil.jpg" alt="">
                </div>
                <div class="map2">
                    <center>
                        <p>PEAT SOIL</p>
                    </center>
                    <b>In horticulture, peat is used to increase the moisture-holding capacity of sandy soils and to
                        increase the water infiltration rate of clay soils. It is also added to potting mixes to meet
                        the acidity requirements of certain potted plants. What is the benefit of peat?
                        Peat soil can increase aeration in your organic soil mix and allow your plants' roots room to
                        breathe. Peat soil is pathogen-free. Unlike untreated compost, peat soil is a good option for
                        seed starting as it rarely contains harmful microorganisms like weed seeds or bad bacteria.</b>
                </div>
            </div>
            <div class="lap1">

                <div class="lap-head">
                    <center>
                        <p
                            style="font-size:30px;color:green; align-items: center; height: 100px; padding-top: 20px; width: 100%; padding-top: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            Crop suitable for Peat soil</p>
                    </center>
                </div>
                <div class="cards">

                    <div class="card" style="width: 300px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/lettuce.jpg" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Lettuce Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 6.5</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                Fish emulsion</p>
                            <p class="card-text"><b>Season to cultivate :</b>Spring and Fall </p>
                            <p class="card-text"><b> Irrigation system :</b> Drip irrigation</p>
                            <p class="card-text"><b>Water requirement : </b> 38 to 50 inches of water per acre</p>

                            <p class="card-text"><b>Tools required : </b>Containers and Pots ,
                                Garden Gloves ,
                                Garden Trowel ,
                                Irrigation Equipmen ,
                                Pruners or Snippers ,
                                Rain Barrel ,
                                Spade ,
                                Spray Pump or Bottle.</p>
                        </div>
                    </div>
                    <div class="card" style="width:300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/carrot.jpg" class="card-img-top" alt="..." style="height:150px;  ">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Carrot Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 7.0</p>
                            <p class="card-text"><b>Fertilizers : </b>nitrogen fertilizer</p>
                            <p class="card-text"><b>Season to cultivate :</b>July-February </p>
                            <p class="card-text"><b> Irrigation system :</b> Furrow irrigation</p>
                            <p class="card-text"><b>Water requirement : </b>For optimum yield, onion requires 350 to 550
                                mm water</p>

                            <p class="card-text"><b>Tools required : </b>Bed formers.
                                Ridge formers.
                                Rotary cultivators.
                                Drip irrigation placing machines.
                                Drip irrigation removing machines.
                                Interrow cultivators.
                                Interrow rotavators.
                                Box trailers for carrots.</p>

                        </div>
                    </div>

                    <div class="card" style="width: 300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/onion.jpg" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Onion crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 7.0</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                Sulphur</p>
                            <p class="card-text"><b>Season to cultivate :</b> January to May</p>
                            <p class="card-text"><b> Irrigation system :</b> Drip irrigation</p>
                            <p class="card-text"><b>Water requirement : </b> For optimum yield, onion requires 350 to
                                550 mm wate</p>
                            <p class="card-text"><b>Tools required : </b>
                                Sowing machines for onions.
                                Pneumatic onion seeders.
                                Onion set planters.
                                Precision planters for onion sets.
                                Pneumatic planters for onion sets.
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>