<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleopen.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="top" style="background-color: #3f6139;">
        <div class="lap">



            <div class="map">

                <div class="map1">
                    <img src="/images/clay-soil.jpg" alt="">
                </div>
                <div class="map2">
                    <center>
                        <p>CLAY SOIL</p>
                    </center>
                    <b>Clayey soil is rich in humus and very fertile, so it is suitable for growing cereals like wheat and gram. Such soil is good at retaining water.Clays have a large specific surface, often predominantly negatively charged, that retains nutrients against leaching and reacts with hydrogen and aluminium ions, while buffering the soil against extreme pH changes. The clay itself may be a source of plant nutrients when it degrades. Despite these known effects it is still difficult to predict soil behaviour from clay mineralogy. </b>
                </div>
            </div>
            <div class="lap1">

                <div class="lap-head">
                    <center>
                        <p
                            style="font-size:30px;color:green; align-items: center; height: 100px; padding-top: 20px; width: 100%; padding-top: 40px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                            Crop suitable for Clay soil</p>
                    </center>
                </div>
                <div class="cards">

                    <div class="card" style="width: 300px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/cabbage.jpg" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Cabbage Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 6.5</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                80-120 kg Nitrogen, 60-100kg Phosphorus pentoxide and 60-120 kg pottasium oxide</p>
                            <p class="card-text"><b>Season to cultivate :</b> July-November in plains and April-August in hills </p>
                            <p class="card-text"><b> Irrigation system :</b> Drip irrigation</p>
                            <p class="card-text"><b>Water requirement : </b> 380 to 500 mm</p>

                            <p class="card-text"><b>Tools required : </b>sharp knife</p>
                        </div>
                    </div>
                    <div class="card" style="width:300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/pea.jpg" class="card-img-top" alt="..." style="height:150px;  ">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">Pea Crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 6.0 to 6.8</p>
                            <p class="card-text"><b>Fertilizers : </b>phosphorus fertilizer</p>
                            <p class="card-text"><b>Season to cultivate :</b>July-February </p>
                            <p class="card-text"><b> Irrigation system :</b>  Nelson Irrigation's line of sprinklers on mechanical move, and solid set sprinklers</p>
                            <p class="card-text"><b>Water requirement : </b>489.1 mm</p>

                            <p class="card-text"><b>Tools required : </b>seed drill consists of seed hopper, fertilizer hoppe.
                              </p>

                        </div>
                    </div>

                    <div class="card" style="width: 300px; margin-left: 30px; height: 600px; box-shadow: 0 0 5px gray;">
                        <img src="/images/cauliflower.jpg" class="card-img-top" alt="..." style="height:150px;">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title" style="color:green;">CauliFlower crop</h5>
                            </center>
                            <p class="card-text"><b>PH of crop: </b> 5.5 to 6.5</p>
                            <p class="card-text"><b>Fertilizers : </b>
                                200 kg nitrogen, 75 kg phosphorus, and 75 kg potassium per hectare</p>
                            <p class="card-text"><b>Season to cultivate :</b> september to February</p>
                            <p class="card-text"><b> Irrigation system :</b> drip irrigation system in clayey soil </p>
                            <p class="card-text"><b>Water requirement : </b>irrigation at interval of 7-8 </p>
                            <p class="card-text"><b>Tools required : </b>
                                cleaning machine, husking machine, cracking machine, flaking machine, cooking machine
                        </div>
                    </div>



                </div>
            </div>


        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>