<%- include("header.ejs") -%>


    <div class="tools">
        <div class="t-mid">
            <a href="/mytools">
                <div class="t-card">
                    <h2>My Tools</h2>
                </div>
            </a>
            <a href="/hiretools">
                <div class="t-card">
                    <h2>Hire Tools</h2>
                </div>
            </a>

        </div>
    </div>



    <%- include("partials/footer") -%>